<h2 class="title">Customers List</h2>

<form
  [formGroup]="customerForm"
  (ngSubmit)="addCustomer()"
  class="customer-form"
>
  <mat-form-field appearance="outline">
    <mat-label>First Name</mat-label>
    <input matInput formControlName="firstName" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Last Name</mat-label>
    <input matInput formControlName="lastName" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput formControlName="email" type="email" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Phone</mat-label>
    <input matInput formControlName="phone" type="tel" required />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Date of Birth</mat-label>
    <input matInput formControlName="dateOfBirth" type="date" required />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Add Customer</button>
</form>

<div *ngIf="dataSource.length === 0; else customerTable" class="no-data">
  No customers found.
</div>

<ng-template #customerTable>
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 full-width-table"
  >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let customer">{{ customer.id }}</td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef>First Name</th>
      <td mat-cell *matCellDef="let customer">{{ customer.firstName }}</td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef>Last Name</th>
      <td mat-cell *matCellDef="let customer">{{ customer.lastName }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let customer">{{ customer.email }}</td>
    </ng-container>

    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Phone</th>
      <td mat-cell *matCellDef="let customer">{{ customer.phone }}</td>
    </ng-container>

    <ng-container matColumnDef="dateOfBirth">
      <th mat-header-cell *matHeaderCellDef>Date of Birth</th>
      <td mat-cell *matCellDef="let customer">{{ customer.dateOfBirth }}</td>
    </ng-container>

    <ng-container matColumnDef="addresses">
      <th mat-header-cell *matHeaderCellDef>Addresses</th>
      <td mat-cell *matCellDef="let customer">
        <ul *ngIf="customer.addresses.length > 0; else noAddress">
          <li *ngFor="let address of customer.addresses">
            {{ address.street }}, {{ address.city }}, {{ address.state }},
            {{ address.zipCode }}, {{ address.country }} ({{ address.type }})
          </li>
        </ul>
        <ng-template #noAddress>No addresses available</ng-template>
      </td>
    </ng-container>

    <ng-container matColumnDef="creditCards">
      <th mat-header-cell *matHeaderCellDef>Credit Cards</th>
      <td mat-cell *matCellDef="let customer">
        <ul *ngIf="customer.creditCards.length > 0; else noCreditCard">
          <li *ngFor="let card of customer.creditCards">
            {{ card.cardType }} - ****{{ card.cardNumber.slice(-4) }} (Expires:
            {{ card.expiryDate }})
          </li>
        </ul>
        <ng-template #noCreditCard>No credit cards available</ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</ng-template>
